### Neighborhoods in Toronto

In [2]:
!pip install geocoder
import pandas as pd

Requirement already satisfied: geocoder in c:\users\catanos\anaconda3\lib\site-packages (1.38.1)
Requirement already satisfied: requests in c:\users\catanos\anaconda3\lib\site-packages (from geocoder) (2.24.0)
Requirement already satisfied: future in c:\users\catanos\anaconda3\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: ratelim in c:\users\catanos\anaconda3\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: click in c:\users\catanos\anaconda3\lib\site-packages (from geocoder) (7.1.2)
Requirement already satisfied: six in c:\users\catanos\anaconda3\lib\site-packages (from geocoder) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\catanos\anaconda3\lib\site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\catanos\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\catanos\anaconda3\lib\site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\catanos\anaconda3\lib\site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: decorator in c:\users\catanos\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.2)

In [3]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
dfs

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [4]:
df=dfs[dfs.Borough!='Not assigned']
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [5]:
df1 = df.groupby(['Postal Code','Borough'])['Neighbourhood'].apply(','.join).reset_index()
df1.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [6]:
df1.Neighbourhood.loc[df1.Neighbourhood=='Not assigned']=df1.Borough
len(df1[df1.Neighbourhood=='Not assigned'])

0

In [7]:
df1.shape

(103, 3)

In [9]:
import geocoder # import geocoder
#from geopy.geocoders import Nominatim

#def get_geoloc(postal_code):
# initialize your variable to None
    #lat_lng_coords = None

# loop until you get the coordinates
    #while(lat_lng_coords is None):
        #g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        #lat_lng_coords = g.latlng
    #return lat_lng_coords
    
#get_geoloc('M1B')

In [16]:
df_geo=pd.read_csv('Geospatial_Coordinates.csv', sep=',')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476